#map{
  height:90vh;
  margin-top:0px;
  /*width:60vw;*/
  /*display: inline;*/
}

#mapViewRightSide {
  height:90vh;
  /*display: inline;*/
  /*width:35vw;*/
  overflow-y:scroll;
  overflow-x:hidden;
}

#reportPageBtns a{
  padding: 8px;
}

#navLogo {
  height:150%;
  margin-top: -5px;
}

span.search-bar{
  float:left;
  padding-top:10px;
  padding-left:60px;
  padding-bottom: 0px;
  margin-top:-20px;
  margin-bottom: -20px;
}
#tax-chart-div{
  width: auto;
}
#crime-chart-div{
  width: auto;
}
#carousel .item img{
    display: block;
    width: 100%;
    height: auto;
}




/****************** NavBar ******************/

#hc-navbar {
  transition: background-color 0.5s ease;
  background-color: rgba(255,255,255,0);
  border:none;
  border-radius: 0;
  z-index: 2;
  margin-bottom: 0;
}

#hc-navbar .navbar-nav>li>a {
  transition: color 0.5s ease;
  color:rgba(0,0,0,.87);
}

#hc-navbar:hover {
  transition: background-color 0.5s ease;
  background-color: rgba(255,255,255,.9);
}
#hc-navbar:hover .navbar-nav>li>a {
  transition: color 0.5s ease;
  color:rgba(0,0,0,.38);
  background-color: rgba(255,255,255,.9);
}
#hc-navbar .navbar-nav>li>a:hover {
  transition: color 0.5s ease;
  color: rgba(0,0,0,.87);
  background-color: rgba(255,255,255,.9);
}

/****************** Main Modal on Landing Page ******************/

#indexMain{

  /* Positioning and dimensions allow the container to be full-size */
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -1;
  /* This image is the landing page background */
  background:url('https://images.unsplash.com/photo-1428190318100-06790c8b2e5a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=93da6d33bcacfdaa5c67e5cb40082840') no-repeat center center;

  /* Ensure the html element always takes up the full height of the browser window */
  max-height:100vh;

  background-size:cover;
}

#indexMain .row{
  margin:auto;
  margin-top:35vh;

  /*width:40%;*/

}
#indexMainLogo {
  background-color: rgba(255,255,255,.9);
  border:1px solid rgba(0,0,0,.37);
  padding:20px;
  padding-bottom: 0px;
  border-radius: 5px;

}

.indexSearchButton>button{
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.indexSearchButton>button:hover{
  transition: color 0.5s ease;
  background-color:#3AC690;
  color:white;
}



/****************** Listings View ******************/

#secondaryView{
  margin:0;
}

#mapViewContainer, #secondaryView{
  padding:5px;
  width:100%;
  height:100%;

}

#mapViewContainer > .row > .col-md-7 {
  padding:0;
}

#mapViewRightSide{

  border-top:1px solid rgba(0,0,0,.12); 
}

.sortOption {
  font-size: 16px;
  color: rgba(0,0,0,.54);
}
.sortOption:hover, .sortOption:active, .sortOption:focus {
  color: #3AC690;
  text-decoration: none;
}


.lotListingsToggle a{
  float:right;
  margin-left: 20px;
  font-size: 14px;
  padding:4px;
  border-radius: 3px;
  background-color: #3AC690;
  border:1px solid #3AC690;
  color:rgba(255,255,255,1);
}

.lotListingsToggle a:hover{
  text-decoration: none;
  background-color: rgba(255,255,255,1);
  border:1px solid #3AC690;
  color: #3AC690;
}

.visLisAdd>a{
  display: inline;
  color:rgba(0,0,0,.87);
}
.visLisAdd a:not(:first-child):hover {
  text-decoration: none;
}

span.glyphicon-heart, span.glyphicon-heart-empty{
  float:right;
  display: inline;
  color:#F44336;
  font-size: 25px;
  margin-right: 10px;
  top:5px;
}
span.glyphicon-heart-empty:hover{
  color:#EF9A9A;
  text-decoration: none;
}

#listings.list-group li {
  border:none;
  border-top: 1px solid rgba(0,0,0,.12);
}

.listingThumbnails a {
  border:none;
  margin-bottom: 5px;
}

/****************** Report Page ******************/

#carousel{
  padding-top: 13px;
}

.reportTabs ul li a{
  color:rgba(0,0,0,.54);
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.reportTabs ul li.active a{
  border-radius:0;
  background-color:#3AC690;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.reportTabs ul li.active a:hover{  
  background-color:#3AC690;
}

.list-group li.list-group-item{
  border:none;
  border-top: 1px solid rgba(0,0,0,.12);
}
.list-group li.list-group-item:last-child{
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.list-group-item > span{
  font-weight: bold;
}



/****************** Filters Layout ******************/

#filtersToggle{
  text-decoration: none;
  text-align:center;
  margin-top: 5px;
  margin-bottom: 0;
}
#filtersToggle a{
  color:rgba(0,0,0,.54);
}
#filtersToggle a:hover{
  text-decoration: none;
  color:#3AC690;
}

.homeFilters div label{
  font-size: 14px;
}
.homeFilters #showFilters:hover{
  padding:10px;
}
#filters.homeFilters #min_rooms{
  margin-top: 10px;
}

.navFilters div:nth-child(3), .navFilters div:nth-child(4){
  text-align: center;
}
#filters.navFilters label{
  padding-left:5px;
}
#filters.navFilters #min_rooms, #filters.navFilters #max_rooms, #filters.navFilters #min_bathrooms, #filters.navFilters #max_bathrooms{
  width:25%;
  height:25px;
  display: inline;
  outline: none;
}
#filters.navFilters #min_price, #filters.navFilters #max_price, #filters.navFilters #min_area, #filters.navFilters #max_area{
  width:40%;
  height:25px;
  display: inline;
  outline: none;
}

#filters #min_rooms, #filters #max_rooms, #filters #min_bathrooms, #filters #max_bathrooms{
  width:20%;
  height:25px;
  display: inline;
  outline: none;
}
#filters #min_price, #filters #max_price, #filters #min_area, #filters #max_area{
  width:30%;
  height:25px;
  display: inline;
  outline: none;
}
























