<ul class="nav nav-pills" id="reportPageBtns">
<li role="presentation" id="basicInfoBtn"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Basic</a></li>
<li role="presentation" id="taxInfoBtn"><a href="#"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Tax</a></li>
<li role="presentation" id="schoolInfoBtn"><a href="#"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> School</a></li>
<li role="presentation" class="active" id="crimeInfoBtn"><a href="#"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Crime</a></li>
<li role="presentation" id="geoInfoBtn"><a href="#"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Geo</a></li>
<li role="presentation" id="miscInfoBtn"><a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Misc</a></li>
</ul>
<ul class="list-group">
  <li class="list-group-item"></li>
  <li class="list-group-item">Current violent crime rate: {{ crime_info.violent_crime_rate }} per 1,000 residents.</li>
  <li class="list-group-item">Current property crime rate: {{ crime_info.property_crime_rate }} per 1,000 residents.</li>
  <li class="list-group-item">Crimes per square mile: {{ crime_info.crime_per_mile }}.</li>
  <li class="list-group-item">For sex offender information, <a href="https://www.fbi.gov/scams-safety/registry">click here.</a></li>
  <li class="list-group-item"><div id="violent_crime_chart_div"></div></li>
  <li class="list-group-item"><div id="property_crime_chart_div"></div></li>
  <li class="list-group-item"><div id="mile_crime_chart_div"></div></li>
</ul>
