<ul class="nav nav-pills" id="reportPageBtns">
<li role="presentation" id="basicInfoBtn"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Basic</a></li>
<li role="presentation" class="active" id="schoolInfoBtn"><a href="#"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> School</a></li>
<li role="presentation" id="crimeInfoBtn"><a href="#"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Crime</a></li>
<li role="presentation" id="geoInfoBtn"><a href="#"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Geo</a></li>
<li role="presentation" id="miscInfoBtn"><a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Misc</a></li>
</ul>

<ul class="list-group">
  <li class="list-group-item" id="houseinfo-heading"><h3>School Information</h3></li>
  <li class="list-group-item"> School District: {{ listing.school_district }}</li>
  <li class="list-group-item"> Elementary School: {{ schools.elementarySchool }}</li>
  <li class="list-group-item"> High School: {{ schools.highSchool }}</li>
</ul>
