<ul class="nav nav-pills" id="reportPageBtns">
<li role="presentation" id="basicInfoBtn"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Basic</a></li>
<li role="presentation" class="active" id="taxInfoBtn"><a href="#"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Tax</a></li>
<li role="presentation" id="schoolInfoBtn"><a href="#"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> School</a></li>
<li role="presentation" id="crimeInfoBtn"><a href="#"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Crime</a></li>
<li role="presentation" id="geoInfoBtn"><a href="#"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Geo</a></li>
<li role="presentation" id="miscInfoBtn"><a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Misc</a></li>
</ul>
<ul class="list-group">
  <li class="list-group-item"></li>
  {% if tax_info.last_sold_date != "N/A" %}
  <li class="list-group-item">Last sold on {{tax_info.last_sold_date}} for {{tax_info.last_sold_price}}</li>
  {% endif %}
  <div id="taxData" hidden data-2014-tax="{{tax_info.property_tax_2014}}" data-2013-tax="{{tax_info.property_tax_2013}}" data-2012-tax="{{tax_info.property_tax_2012}}" data-2011-tax="{{tax_info.property_tax_2011}}" data-2010-tax="{{tax_info.property_tax_2010}}"></div>
  <div id="taxAssessData" hidden data-2014-tax="{{tax_info.tax_assesment_2014}}" data-2013-tax="{{tax_info.tax_assesment_2013}}" data-2012-tax="{{tax_info.tax_assesment_2012}}" data-2011-tax="{{tax_info.tax_assesment_2011}}" data-2010-tax="{{tax_info.tax_assesment_2010}}"></div>
  <li class="list-group-item"><div id="tax_chart_div"></div></li>
  <li class="list-group-item"><div id="tax_table_div"></div></li>
</ul>
