<ul class="nav nav-pills" id="reportPageBtns">
<li role="presentation" id="basicInfoBtn"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Basic</a></li>
<li role="presentation" class="active" id="taxInfoBtn"><a href="#"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Tax</a></li>
<li role="presentation" id="schoolInfoBtn"><a href="#"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> School</a></li>
<li role="presentation" id="crimeInfoBtn"><a href="#"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Crime</a></li>
<li role="presentation" id="geoInfoBtn"><a href="#"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Geo</a></li>
<li role="presentation" id="miscInfoBtn"><a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Misc</a></li>
</ul>
<ul class="list-group">
  <li class="list-group-item"></li>
  <li class="list-group-item">Last sold on {{tax_info.last_sold_date}} for ${{tax_info.last_sold_price}}</li>
  <li class="list-group-item"><div id="tax_chart_div"></div></li>
</ul>
