{% extends "base.html" %}

{% block title %}HomeClear{% endblock %}

{% block page_content %}
<div class="container" id="indexMain">
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4" id="indexMainLogo">
      <img class="img-responsive" src={{url_for('static', filename='logo.png')}}>
      <form action="" method="post"
        class="form" role="form">
        <div style="display:none;">{{ g.search.csrf_token }}</div>
      <div class="input-group ">

                <input class="form-control" id="search" placeholder="Enter an address or zipcode..." name="search" type="text" value="">
                <span class="input-group-btn indexSearchButton">
                <button style="margin-top:-5px"class="btn btn-default" id="submit" name="submit" type="submit">Go!</button>
                </span>
                <br>
        </div>
        <p style="text-align:center" id="filtersToggle">
          <a href="#" id="showFilters">
             Show Filters
          </a>
          <a href="#" id="hideFilters">
             Hide Filters
          </a>
        </p>
        <div id="filters" class="homeFilters" hidden>
      <div class="form-group "><label class="control-label" for="rooms">Bedrooms:</label>
                <input class="form-control" placeholder="Min" id="min_rooms" name="min_rooms" type="text" value="">
                -
                <input class="form-control" placeholder="Max" id="max_rooms" name="max_rooms" type="text" value="">
        </div>
      <div class="form-group "><label class="control-label" for="bathrooms">Bathrooms:</label>
                <input class="form-control" placeholder="Min" id="min_bathrooms" name="min_bathrooms" type="text" value="">
                -
                  <input class="form-control" placeholder="Max" id="max_bathrooms" name="max_bathrooms" type="text" value="">
        </div>
      <div class="form-group "><label class="control-label" for="area">Square Feet:</label>
                <input class="form-control" placeholder="Min" id="min_area" name="min_area" type="text" value="">
                -
                <input class="form-control" placeholder="Max" id="max_area" name="max_area" type="text" value="">
        </div>
      <div class="form-group "><label class="control-label" for="price">Price:</label>
                <input class="form-control" placeholder="Min" id="min_price" name="min_price" type="text" value="">
                -
                <input class="form-control" placeholder="Max" id="max_price" name="max_price" type="text" value="">
        </div>
      </div>
      </form>
      <br>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
<div clas="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4"></div>
</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{url_for('static',filename='js/filters.js') }}"></script>
{% endblock %}
