{% extends "base.html" %}

{% block title %}HomeClear{% endblock %}

{% block page_content %}
<div class="container" id="indexMain">
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <h1 style="text-align:center">HomeClear</h1>
      <form class="form" role="form" action="" method="post">
        <div style="display:none;"><input name="csrf_token" id="csrf_token" type="hidden" value="1448417612##780ebaaff58aaa93bf883c3b850905167601f9a3"></div>
        <div class="form-group "><label class="control-label" for="search"></label>
                    <input name="search" class="form-control" id="search" type="text" value="" placeholder="Enter address or zipcode...">
        </div>
      </form>
      <br>
      <p style="text-align:center">
        <a href="#" class="dropdown-toggle" id="showFilters" data-toggle="dropdown">
           Show Filters<b class="caret"></b>
        </a>
        <a href="#" class="dropdown-toggle" id="hideFilters" data-toggle="dropdown">
           Hide Filters<b class="caret"></b>
        </a>
      </p>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
<div clas="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  <div id="filtersForm">
      {{ wtf.quick_form(filters) }}
  </div>
  </div>
  <div class="col-md-4"></div>
</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
  $("#filtersForm").hide();
  $("#hideFilters").hide();

  $("#showFilters").click(function(){
    $("#filtersForm").show();
    $("#showFilters").hide();
    $("#hideFilters").show();
  });

  $("#hideFilters").click(function(){
    $("#filtersForm").hide();
    $("#hideFilters").hide();
    $("#showFilters").show();
  });

});
</script>
{% endblock %}
