{% extends "base.html" %}

{% block title %}HomeClear{% endblock %}

{% block page_content %}
<div class="container" id="mapViewContainer">
  <div class="row">
    <div class="col-md-8">
      <div id=map></div>
      {% block map_side %}

      {% endblock %}
    </div>
    <div class="col-md-4" id="mapViewRightSide">
      {% block right_side %}

      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{url_for('static', filename='maps.js')}}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKbLsDaThcgwIzJnk6b7auex7zaWizfGc&signed_in=true&callback=initMap" async defer></script>
{% endblock %}
