{% extends "mapView.html" %}

{% block title %}HomeClear - Report{% endblock %}

{% block right_side %}
    <div class="thumbnail">
      <img src={{ url_for('static', filename='images') + imgPth.path + "1.jpg" }} }}>
      <div class="caption">
        <h3 id="address">{{ listing.raw_add }}</h3>
      </div>
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="...">
    <div class="btn-group" role="group" id="reportPageTabs" aria-label="...">
      <button type="button" class="btn btn-default" id="basicInfoBtn"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Basic</button>
      <button type="button" class="btn btn-default" id="schoolInfoBtn"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> School</button>
      <button type="button" class="btn btn-default" id="crimeInfoBtn"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Crime</button>
      <button type="button" class="btn btn-default" id="geoInfoBtn"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Geo</button>
      <button type="button" class="btn btn-default" id="miscInfoBtn"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Misc</button>
    </div>
  </div>
    <div class="reportTabs" id="basicInfo">
      {% include '_basic.html' %}
    </div>
    <div class="reportTabs" id="schoolInfo">
      {% include '_school.html' %}
    </div>
    <div class="reportTabs" id="crimeInfo">
      {% include '_crime.html' %}
    </div>
    <div class="reportTabs" id="geoInfo">
      {% include '_geo.html' %}
    </div>
    <div class="reportTabs" id="miscInfo">
      {% include '_misc.html' %}
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{url_for('static', filename='reportScripts.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='graphs.js')}}"></script>
{% endblock %}
