{% extends "mapView.html" %}

{% block title %}HomeClear - Report{% endblock %}

{% block right_side %}
    <div class="thumbnail">
    <div id="carousel" class="owl-carousel">
    {% for i in range(1,listing.images.first().img_count+1) %}
        <div class="item"><img class="lazyOwl" data-src={{ url_for('static', filename='images') + "/houses/" + listing.images.first().path + i|string + ".jpg"}}></div>
    {% endfor %}
    </div>

      <div class="caption">
        <h3 id="address">{{ listing.raw_add }}</h3>
        <h4>
          {% if current_user.is_authenticated %}
            {% if listing in current_user.favorites.all() %}
                <a href={{ url_for('main.unfavorite', listing_id=listing.id)}}><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
            {% else %}
                <a href={{ url_for('main.favorite', listing_id=listing.id)}}><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a>
            {% endif %}
          {% else %}
            <a href={{ url_for('main.favorite', listing_id=listing.id)}}><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a>
          {% endif %}
      </h4>
        <div id="coords" data-lat="{{listing.lati}}" data-lng="{{listing.longi}}"hidden></div>
    </div>

    <div class="reportTabs" id="basicInfo">
      {% include '_basic.html' %}
    </div>
    <div class="reportTabs" id="taxInfo">
      {% include '_tax.html' %}
    </div>
    <div class="reportTabs" id="schoolInfo">
      {% include '_school.html' %}
    </div>
    <div class="reportTabs" id="crimeInfo" data-city="{{listing.city}}" data-violent-crime-rate={{crime_info.violent_crime_rate}} data-property-crime-rate={{crime_info.property_crime_rate}} data-crime-per-mile={{crime_info.crime_per_mile}}>
      {% include '_crime.html' %}
    </div>
    <div class="reportTabs" id="geoInfo">
      {% include '_geo.html' %}
    </div>
    <div class="reportTabs" id="miscInfo">
      {% include '_misc.html' %}
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{url_for('static', filename='js/reportmap.js')}}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKbLsDaThcgwIzJnk6b7auex7zaWizfGc&signed_in=true&callback=initMap" async defer></script>
<script type="text/javascript" src="{{url_for('static', filename='js/reportScripts.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/graphs.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/owl-carousel/owl.carousel.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='js/owl-carousel/owl.carousel.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='js/owl-carousel/owl.theme.css')}}">
{% endblock %}
