{% extends "mapView.html" %}

{% block title %}HomeClear - Report{% endblock %}
{% block head %}
  {{ super() }}
  {{map.js}}
{% endblock %}
{% block map_side %}

  {{map.html}}

{% endblock %}

{% block right_side %}
<div class="row">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>{{ listing.address }}</h3>
      </div>
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="...">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Basic</button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> School</button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Crime</button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Geo</button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Misc</button>
    </div>
  </div>
    <ul class="list-group" id="houseinfo">
    <li class="list-group-item" id="houseinfo-heading"><h3>Basic Information</h3></li>
    <li class="list-group-item">Listed price {{ listing.price }}</li>
    <li class="list-group-item">Tax rate: {{ tax_info.rate }}%</li>
    <li class="list-group-item">{{ listing.area }}sq.ft.</li>
    <li class="list-group-item">{{ listing.bedrooms }} Bedrooms, {{ listing.bathrooms }} Bathrooms</li>
    <li class="list-group-item">Realtor: {{ listing.realtor }}</li>
    <li class="list-group-item">Listed {{ moment(listing.timestamp).fromNow() }}</li>
    </ul>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
